<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新增学生</title>
</head>
<body>
    <div>
        <form action="/submit" method="post">
            <label for="name">姓名：
                <input type="text" name="name" id="name">
            </label>
            <label for="age">年龄：
                <input type="text" name="age" id="age">
            </label>
            <label for="hobby">爱好：
                <input type="text" name="hobby" id="hobby">
            </label>
            <label for="nation">民族：
                <input type="text" name="nation" id="nation">
            </label>
            <label for="specialty">专业：
                <input type="text" name="specialty" id="specialty">
            </label>
            <button type="submit">提交</button>
        </form>
    </div>
</body>
</html>